body {
    background-color: white;
    color: black;
    margin: 0;
    font-family: Helvetica;
}

/* header */
header {
    margin-left: 24px;
    margin-top: 5px;
}
header > h1 > a {
    text-decoration: none;
    color: black;
    font-size: 40pt;
}
header > h2 {
    font-size: 18pt;
    line-height: 0;
}
hr {
    width: 94%;
    border-color: #c3b2f4;
    background-color: #c3b2f4;
    height: 3px;
    border-radius: 100%;
}
div.title {
    text-align: center;
}
h3.title {
    margin: 100px;
    font-size: 4em;
    line-height: 0;
}
a {
    text-decoration: none;
    color: unset;
}
/**/
main{
    margin: 24px;
    margin-bottom: 100px;
}
.drawer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cate{
    width: fit-content;
    border-radius: 10px;
    border-style: solid hidden;
    border-color: #b2d3f4;
    padding: 20px;
    margin: auto;
    margin-bottom: 50px;

}
summary{
    text-transform: uppercase;
    list-style:none;
    font-weight:900;
    font-style: italic;
}
p {
    padding: 0 20px;
    line-height: 1.5;
}
q {
    font-style: italic;
    font-family: 'Courier New';
    font-size: small;
}

p > a {
    color: navy;
}


/**/
.firma{
    position: relative;
}

.firma-b {
    display: none !important ;
    position: absolute;
    bottom: 0;
}

.firma-n {
    width: 100px;
    padding: 10px;
    position: absolute;
    bottom: 0;
    display: inline !important;
}
#favicons {
    position: relative;
    margin: 10px;
}

#favicons-black > span > a > img {

    width: 35px;
    height: auto;
    margin-inline: 5px;
    margin-bottom: 5px;
    display: inline !important;
}

#favicons-white {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: none;
}

#favicons-black {
    position: absolute;
    bottom: 0px;
    right: 0px;
 }
@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: #2b2f33;
        color: white;
    }
    header > h1 > a {
        color: white;
    }

    #favicons-black {
        display: none ;
    }

    #favicons-white {
        display: inline !important;
    }

    #favicons-white > span > a > img {
        width: 35px;
        height: auto;
        margin-inline: 5px;
        margin-bottom: 5px;
    }
    .firma-n {
        display: none !important;
    }

    .firma-b {
        width: 100px;
        padding: 10px;
        display: inline !important;
    }
    p > a {
        color: #ffdeb2;
    }
}

@media only screen and (max-width: 1440px) and (orientation:portrait) {
    header > h1 > a {
        font-size: 28pt;
    }
    header > h2 {
        margin-left: 15px;
        font-size: 12pt;
    }
    
    h3.title {
    margin: 50px;
    font-size: 2.2em;
    line-height: 0;
}

    #favicons-white > span > a > img {
        width: 30px;
    }
    #favicons-black > span > a > img {
        width: 30px;
    }
}
